html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =========== HEADER =========== */


body{
    background-color: #051D3B;
}

.cabecalho{
    width: 1356px;
    height: 56px;
    top: 32px;
    left: 32px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo{
    width: 135px;
    height: 35px;
}
textarea:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
.search-field{
 width: 752px;
 height: 50px;
 border-radius: 50px 50px 50px;
 gap: 8px;
 background: rgba(255, 255, 255, 0.16);
 border-style: hidden;
 color: #fff;
}

.profile{
    width: 100px;
    height: 50px;
}

/* =========== MENU-BAR =========== */

.menu{
    position: absolute;
    left: 2.33%;
    right: 8.33%;
    top: 25.67%;
    bottom: 16.67%
}

.selector svg{
    color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}
.selector a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.selector a:hover{
    color: rgba(240, 181, 181, 0.333);
}
